<div class="content">
  <router-outlet></router-outlet>
</div>
<nav class="nav bg-dark">
  <ul class="nav__list">
    <li class="nav__list__item">
      <a routerLink="/recipes">
        <i class="icon icon-apps"></i>
      </a>
    </li>
    <li class="nav__list__item">
      <a routerLink="/recipes/add-recipe">
        <i class="icon icon-plus"></i>
      </a>
    </li>
    <li class="nav__list__item">
      <a routerLink="/profile">
        <i class="icon icon-people"></i>
      </a>
    </li>
  </ul>
</nav>
